
@import "tailwindcss";





@theme{
  

  --color-primary-100: #371511;
  --color-primary-90: #76342a;
  --color-primary-80: #90402d;
  --color-primary-70(main): #90402d;
  --color-primary-60: #c57340;
  --color-primary-50: #ce8c51;
  --color-primary-40: #d7a672;
  --color-primary-30: #e5c8a2;
  --color-primary-20: #e5c8a2;
  --color-primary-10: #f2e4d3;
  --color-red-100: #5d0a02;
  --color-red-90: #7f150b;
  --color-red-80(main): #a12519;
  --color-red-70: #ed301e;
  --color-red-60: #f34e3f;
  --color-red-50: #e55143;
  --color-red-40: #ff8c81;
  --color-red-30: #ffada5;
  --color-red-20: #ffcfca;
  --color-red-10: #fff0ee;
  --color-neutral-100: #1b1c20;
  --color-neutral-90: #393b43;
  --color-neutral-80(main): #5f616c;
  --distance-0: 0px;
  --distance-4: 4px;
  --distance-8: 8px;
  --distance-12: 12px;
  --distance-16: 16px;
  --distance-20: 20px;
  --distance-24: 24px;
  --distance-28: 28px;
  --distance-32: 32px;
  --distance-40: 40px;
  --distance-48: 48px;
  --distance-56: 56px;
  --distance-64: 64px;
  --color-red-5: #fffbf6;
  --color-primary-5: #fbf5ef;
  --color-green-100: #189c70;
  --color-green-90: #1aaa79;
  --color-green-80(main): #1ec78f;
  --color-green-70: #22d89b;
  --color-green-60: #30dfa4;
  --color-green-50: #53e4b3;
  --color-green-40: #64e7bb;
  --color-green-30: #a8f1d9;
  --color-green-20: #cbf7e8;
  --color-green-10: #eefcf7;
  --color-green-5: #fffbf6;
  --number: 1px;
  --color-secondary-800: #212f43;
  --color-secondary-900: #071427;
  --color-secondary-950: #08182f;
  --color-secondary-100: #eef5ff;
  --color-secondary-200: #b8c6e3;
  --color-secondary-300: #9ab0ce;
  --color-secondary-400: #97a8bf;
  --color-secondary-600: #213458;
  --color-secondary-700: #395174;
  


/*token*/
--bg-primary: var(--color-primary-60);
--bg-secondry: var(--color-secondary-950);
--opacity-primary-70%: #c57340;
--opacity-primary-80%: #c57340;
--opacity-primary-90%: #c57340;
--opacity-secondary-70%: #08182f;
--opacity-secondary-80%: #08182f;
--opacity-secondary-90%: #08182f;
--color: #ffffff;
--text-primary: var(--color-primary-60);
--text-secondary: var(--color-secondary-950);
--color-text-error: var(--color-red-60);
--text-disabled: var(--color-secondary-400);
--text-accent: #ffffff;
--opacity-white-10%: #ffffff;
--opacity-whaite: #ffffff;
--opacity-secondary-10%: #08182f;
--text-main: var(--color-primary-5);
--stroke-primary: var(--bg-primary);
--color-stroke-error: var(--color-red-60);
--color-text-whaite: var(--color-primary-5);
--color-button-primary: var(--color-primary-50);
--color-button-error: #f34e3f;
--color-button-primary-light: #252d3e;
--text-gray1: var(--color-secondary-100);
--text-gray2: var(--color-secondary-200);
--color-text-gray3: var(--color-secondary-400);
--stroke-disabled: var(--color-secondary-400);
--color-2: #ffffff;
--stroke-whaite: var(--color-primary-5);
--bg-whaite: var(--color-primary-5);
--main-bg: #576e94;
--bg-main: #ffffff;
--stroke-border: var(--color-secondary-800);
--bg-bg-2: #0d1f39;
--bg-black: var(--color-secondary-900);
--color-opacity-white-5: rgba(255, 255, 255, 0.05);
--stroke-white-5%: #ffffff;
--color-opacity-white-10: rgba(255, 255, 255, 0.10);
}
@utility typography-body-14-medium {
  font-family: var(--main-font, "Expo Arabic");
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}